.post {
  display: flex;
  flex-direction: column;
  background-color: white;
  line-height: 1.5;

  & p {
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media (min-width: 900px) {
      font-size: 1.4rem;
    }
  }

  &__image-container {
    display: flex;
    justify-content: center;
  }

  &__image {
    display: block;
    -webkit-mask: url(../../../assets//img//video-mask.svg) center/100%
      no-repeat;
    mask: url(../../../assets//img//video-mask.svg) center/100% no-repeat;
  }
}
